<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ASIHTTPRequest Demo</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>iPhoneIcon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iphone-icon.png</string>
		<string>iPhoneIcon.png</string>
		<string>iPhoneIcon@2x.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iphone-icon.png</string>
				<string>iPhoneIcon.png</string>
				<string>iPhoneIcon@2x.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.allseeinginteractive.asihttprequest.iphone.sample</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>Sample</string>
</dict>
</plist>
